@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--light-gray);
}


.card {
    width: 10.625rem;
    height: 44.375rem;
}


/* column-1 */
.sedans {
    background-color: var(--Bright-orange);
    padding: 1.5rem;
    font-size: 0.9375rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
}


h1 {
    color: var(--light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin: 0.75rem 0;
    letter-spacing: 0.04375rem;
}


p {
    color: var(--Transparent-white);
    font-size: 0.625rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 0.9375rem;
    margin: 0.25rem 0;
}


button {
    background-color: var(--light-gray);
    border: none;
    font-size: 0.5625rem;
    padding: 0.4375rem 0.9375rem; 
    margin-top: 0.3125rem;
    border-radius: 0.9375rem;
    text-align: center;
    font-family: 'Lexend Deca';
    font-weight: 400;
}


.btn-1 {
    color: var(--Bright-orange);
}


/* column-2 */
.suvs {
    background-color: var(--Dark-cyan);
    padding: 1.5rem;
    font-size: 0.9375rem;
}


.btn-2 {
    color: var(--Dark-cyan);
}


/* column-3 */
.luxury {
    background-color: var(--Very-dark-cyan);
    padding: 1.5rem;
    font-size: 0.9375rem;
    border-radius: 0 0 0.3125rem 0.3125rem;
}


.btn-3 {
    color: var(--Very-dark-cyan);
}
